<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | MyBanking App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('index') }}">Coding Challenge</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('filter_exchange_page') }}">Filter Exchanges</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('list_exchanges') }}">My Exchanges</a></li>
              </ul>
              
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Alexandra Coman, 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/grab_and_save.js') }}"></script>
    <script src="{{ url_for('static', filename='js/last.js') }}"></script>
    <script>
      var grabAndSaveURL = "{{ url_for('grab_and_save') }}";
      var listExchangesURL = "{{ url_for('list_exchanges') }}";
      var filterExchangesURL = "{{ url_for('last', number='NUMBER', currency='CURRENCY') | safe }}";
    </script>>
</body>
</html>
